@import "style.css";

/*General Style */
body{
	font-family: Arial,sans-serif;
	color: #333333;
	margin: 0px;
	padding: 10px;
}

h1 {
	color: #006699;
}

h2 {
	color: #333333;
}

p {
	margin-left: 30px;
}

#note {
	color: red;
}

a:link, a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#classname{
	font-size: 200%;
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #cccccc;
}

/* Table Style */
table{
	border-collapse: collapse;
	width: 100%;
}

td{
	padding: 5px;
	vertical-align: top;
	border: 1px solid #cccccc;
}

tr.tuesday{
	background-color: #eeeeee;
}

td.date{
	width: 100px;
}