@import "style.css";

/*General Style */
body{
	font-family: Arial,sans-serif;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

/* Table Style */
table{
	border-collapse: collapse;
	width: 100%;
}

td{
	padding: 5px;
	vertical-align: top;
	border: 1px solid #cccccc;
}

tr.tuesday{
	background-color: #eeeeee;
}

/*table.calendar {
	border-collapse: collapse;
}

table.calendar tr.calendar_header {
	background-color: #eeeeee;
	font-weight: bold;
}

table.calendar tr.calendar_odd {
	background-color: #eeeeee;
}

table.calendar tr.calendar_even {
}

table.calendar td {
	padding: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
	vertical-align: top;
}

#globalNav{
	color: #cccccc;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	white-space: nowrap;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color:#eeeeee;
}

#globalNav a {
	font-size: 90%;
	padding: 0px 4px 0px 4px; 
}

#mastHead {
	margin: 0;
	padding: 10px 0px 10px 10px;
	border-bottom: 1px solid #cccccc;
}

#breadCrumbs {
	color: #cccccc;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	white-space: nowrap;
}

#breadCrumbs a {
	font-size: 90%;
	padding: 0px 4px 0px 4px; 
}

#pageTitleBanner {
	font-size: 200%;
	color: #006699;
}

#newsBar {
	margin: 10px 0 0 75%;
	padding: 0;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#contentArea {
	float: left;
	margin: 0;
	padding: 10px;
}*/

/********************************************************************************
 * Our general text formatting. ********************************************************************************/

/*body{
	font-family: Arial,sans-serif;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
} /* overrides decoration from previous rule for hovered links */

/*h1 {
	font-size: 140%;
	color: #006699;
}

h2 {
	font-size: 125%;
	color: #333333;
	margin-bottom: -10px;
}


#businessCard {
	float: left;
}

#businessCardLargeContent {
	font-size:  150%;
	margin: 0 0 .5em 0;
}

#businessCardSmallContent {
	font-size: 90%;
	margin: 0 0 1em 0;
}

#bioPortrait {
	float: left;
	padding: 0 10px 10px 0;
}

#bioContent {
	clear:left;
	padding: 10px 0 0 0
}

#newsHeader {
	font-size: 120%;
	color: #333333;
	border-top: 1px solid #cccccc;
	padding: 10px 0 10px 10px;
}

#newsLinks ul {
	background-color: #eeeeee;
	list-style: none; 
	margin: 0; 
	padding: 0 5px 0 0;
}

#newsLinks li {
	border-top: 1px solid #cccccc;
	font-size: 80%;
	margin: 0; 
	padding: 5px 5px 5px 5px;
}

div.newsBlurb div {
	padding-bottom: 5px;	
}

div.newsBlurbHeader {
	font-weight: bold;
}

div.newsPaper {
}

div.newsPaperTitle {
	display: inline;
}

#travelHeader {
	font-size: 120%;
	color: #333333;
	border-top: 1px solid #cccccc;
	padding: 10px 0 10px 10px;
}

#travelLinks ul {
	background-color: #eeeeee;
	list-style: none; 
	margin: 0; 
	padding: 0;
}

#travelLinks li {
	border-top: 1px solid #cccccc;
	font-size: 80%;
	margin: 0; 
	padding: 5px 5px 5px 5px;
}

div.travelPlace {
	font-style: italic;
}

div.travelDate {
	font-weight: bold;
	padding-bottom: 5px;	
}